<div class="container">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Status</th>
				<th>Last Updated</th>
				<th>Expected On</th>
				<th>Tracking</th>
				<th>Location</th>
				<th>Price</th>
				<th>Customer</th>
			</tr>
		</thead>
		<tbody ng-repeat="order in orders">
			<tr ng-repeat="product in order.products">
	            <td rowspan="{{ order.products.length }}" ng-if="$index < 1">{{ order.appleID }}</td>
				<td rowspan="{{ order.products.length }}" ng-if="$index < 1">{{ order.customer }}</td>
				<td rowspan="{{ order.products.length }}" ng-if="$index < 1">{{ order.location }}</td>
				<td>{{ product.device }} {{ product.modelName }} {{ product.storage }}GB {{ product.color }}</td>
				<td>{{ product.status }}</td>
				<td>{{ product.dateLastUpdated | date }}</td>
				<td>{{ product.dateExpected | date }}</td>
				<td>{{ product.tracking }}</td>
				<td>{{ product.price | currency }}</td>
			</tr>
	 	</tbody>
	</table>
</div>
